html {
    box-sizing: border-box;
    height: 100%;

}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: (autofit, 1fr 1fr 1fr);
    grid-gap: 1rem;
    background-color: white;
    
}

.box {
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: none;

}

.a {
    grid-column:  1 / span 1;
    grid-row: 1;
}


ul li{
    list-style: none;
    margin: 20px;  
} 

.b {
    grid-column:  3 / span 1;
    grid-row: 1;
}

.c {
    grid-column:  2 / span 1;
    grid-row: 2;
}

.d {
    grid-column:  1 / span 1;
    grid-row: 3;
}

.e {
    grid-column:  3 / span 1;
    grid-row: 3;
}

button {
    font-family: monospace;
}

p {
    font-family: 'Crimson Pro',serif;
    font-size: 1rem;
    font-style: italic;
    font-display: auto;
    font-variation-settings: 'wght' 400;
    line-height: 1.5;
    font-feature-settings: 'dlig';
    box-shadow: 1px 1px 1px 0px #42d1f5 ; 
    /* border-style: dotted; */
    border-width: 2px;
    cursor: pointer;
    &:hoover: ;

} 

#lastWord {
    visibility: hidden;

}

#cowPic {
    visibility: hidden;

}

#emptyBox1 {
    border-style: none;
}

#moo1 {
    border-style: none;
    box-shadow: none;
}

#moo2 {
    border-style: none;
    box-shadow: none;
}

.farmMenu p {
    border-style: none;
    cursor: default;
    box-shadow: none;
}
